<!-- Why are you here? -->

{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="{% static 'd_icon.png' %}">
	<title>Wilfred</title>
	<style>
		body {
			margin: 0;
		}
		#mainimage {
			left: 50%;
			max-height: 90vh;
			position: relative;
			transform: translate(-50%, 0);
		}
	</style>
</head>

<body>
	<img id="mainimage" src="{% static 'wilfred.png' %}">
</body>

</html>